#among-us {
    width: 100px;
    height: 100px;
    margin: 50;
    padding: 20;
    position: absolute;
}

#inicial, #right, #left {
    width: 150px;
    height: 100px;
    margin: 50;
    padding: 20;
    position: absolute;
}

#top, #bottom {
    width: 100px;
    height: 150px;
    margin: 50;
    padding: 20;
    position: absolute;
}