<div class="container">

    <div class="content">
        <br>
        <h1 class="post-title">Post 001:</h1>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quae nesciunt, neque expedita soluta aperiam molestias iusto nobis culpa consequuntur iure minus at nisi. Quidem rerum repellendus modi mollitia necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dignissimos esse voluptas asperiores ullam, maiores libero quod accusamus perferendis! Ex eos in perferendis illo doloribus mollitia nobis omnis magni obcaecati.</p>
        <br>
        <hr>
        <br>
        <h1 class="post-title">Post 002:</h1>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quae nesciunt, neque expedita soluta aperiam molestias iusto nobis culpa consequuntur iure minus at nisi. Quidem rerum repellendus modi mollitia necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dignissimos esse voluptas asperiores ullam, maiores libero quod accusamus perferendis! Ex eos in perferendis illo doloribus mollitia nobis omnis magni obcaecati.</p>
        <br>
        <hr>
        <br>
        <h1 class="post-title">Post 003:</h1>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quae nesciunt, neque expedita soluta aperiam molestias iusto nobis culpa consequuntur iure minus at nisi. Quidem rerum repellendus modi mollitia necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dignissimos esse voluptas asperiores ullam, maiores libero quod accusamus perferendis! Ex eos in perferendis illo doloribus mollitia nobis omnis magni obcaecati.</p>
        <br>
        <hr>
        <br>
        <h1 class="post-title">Post 004:</h1>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quae nesciunt, neque expedita soluta aperiam molestias iusto nobis culpa consequuntur iure minus at nisi. Quidem rerum repellendus modi mollitia necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dignissimos esse voluptas asperiores ullam, maiores libero quod accusamus perferendis! Ex eos in perferendis illo doloribus mollitia nobis omnis magni obcaecati.</p>
        <br>
        <hr>
        <br>
        <h1 class="post-title">Post 005:</h1>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quae nesciunt, neque expedita soluta aperiam molestias iusto nobis culpa consequuntur iure minus at nisi. Quidem rerum repellendus modi mollitia necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dignissimos esse voluptas asperiores ullam, maiores libero quod accusamus perferendis! Ex eos in perferendis illo doloribus mollitia nobis omnis magni obcaecati.</p>
        <br>
        <hr>
        <br>
        <h1 class="post-title">Post 006:</h1>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quae nesciunt, neque expedita soluta aperiam molestias iusto nobis culpa consequuntur iure minus at nisi. Quidem rerum repellendus modi mollitia necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dignissimos esse voluptas asperiores ullam, maiores libero quod accusamus perferendis! Ex eos in perferendis illo doloribus mollitia nobis omnis magni obcaecati.</p>
        <br>
        <hr>
        <br>
        <h1 class="post-title">Post 007:</h1>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quae nesciunt, neque expedita soluta aperiam molestias iusto nobis culpa consequuntur iure minus at nisi. Quidem rerum repellendus modi mollitia necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dignissimos esse voluptas asperiores ullam, maiores libero quod accusamus perferendis! Ex eos in perferendis illo doloribus mollitia nobis omnis magni obcaecati.</p>
        <br>
        <hr>
        <br>
    </div>
</div>