
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 60px;
}

.logo {
    padding: 0 5px;
    font-size: 3rem;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.list-item{
    font-size: 2rem;
    
}

.nav-link {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 750px;
    margin: auto;
}

.titulo {
    text-align: center;
}

.paragrafo {
    font-size: 1.2rem;
}

.rodape {
    text-align: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    background-color: black;
    color: white;
    height: 190px;
}
