
img {
    width: 30%;
    height: 50vh;
}

button {
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-size: 1.5rem;
    transition: .5s;
}

button:hover {
    background-color: aqua;
}