* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    position: absolute;
    height: 100vh;
    width: 100%;
}

div {
    background-color: #ccc;
    width: 50%;
    height: 300px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

button {
    background-color: rgb(0, 201, 201);
    color: #ccc;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    box-shadow: 0 5px 0 #037474c7;
    border-radius: 2rem;
    width: 25rem;
    height: 10rem;
}

button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    animation: anim-shadow .3s forwards;
}

button:active {
    cursor: pointer;
    box-shadow: none;
    transform: translateY(5px);
}

/*
@keyframes anim-shadow {
    100% {
        box-shadow: 0 0 50px 20px #035a5a86;
    }
}
*/