<nav class="navbar"> 
        <h1 class="logo">Logo</h1>
    <ul class="list">
        <li class="list-item"><a class="nav-link" href="#">home</a></li>
        <li class="list-item"><a class="nav-link" href="#">posts</a></li>
        <li class="list-item"><a class="nav-link" href="#">about us</a></li>
    </ul>
</nav>