<nav class="navbar"> 
    <ul class="list">
        <li class="list-item">teste</li>
        <li class="list-item">teste</li>
        <li class="list-item">teste</li>
        <li class="list-item">teste</li>
        <li class="list-item">teste</li>
        <li class="list-item">teste</li>
    </ul>
</nav>