* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #313131;
}

header {
    font-size: 4rem;
    background-color: #131313;
    color: #f1f1f1;
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 2rem 0;
}

#container {
    background-color: #f3f3f3;
    box-shadow: 2px 0px 0px 0px;
    position: absolute;
    text-align: center;

    left: 50%;
    transform: translate(-50%, 0%);
}

#inputs-container {
    width: 700px;
    height: 68vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 0.3rem;
    padding: 1rem 0;
}

label {
    font-size: 2rem;
    font-weight: bold;
}

input, select {
    border-radius: 5px;
    font-size: 1.5rem;
    width: 75%;
}

option {
    text-align: center;
}

select:active {
    #esconder {
        display: none;
    }
}

#aulas {
    display: inline-flex;

}

#aulas label{
    font-size: 1.2rem;
    margin-left: 15px;
}

#periodo-container {
    display: inline-flex;
}

#periodo-container input {
    width: 20px;
    margin-right: 1rem;
    margin-left: .2rem;
}

#confirm {
    margin-top: 1rem;
    width: 15rem;
    height: 5rem;
    border-radius: 2rem;
    border-style: none;
    background-color: #313131;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: 0px 5px 0px 0px #131313;
    margin-bottom: 30px;
}

#confirm:hover {
    background-color: gray;
    color: #fff;
}

#confirm:active {
    transform: translateY(5px);
}